{%# First line doesn't need indenting here, everything else does %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="x-clacks-overhead" content="GNU Terry Pratchett, John Peel, Steve Jobs, Steve Irwin" />
    <meta name="generator" content="bridgetown" />
    {% capture resource_title %}{{ title | strip_html | strip_newlines }}{% endcapture %}
    <title>{% if resource_title != "Index" %}{{ resource_title | escape }} - {{ metadata.title | escape }}{% else %}{{ metadata.title | escape }} - {{ metadata.tagline | escape }}{% endif %}</title>

    <meta name="description" content="{{ metadata.tagline }}" />

    <meta property="og:title" content="{{ metadata.title }}" />
    <meta property="og:description" content="{{ metadata.tagline }}" />
    <meta property="og:url" content="{{ site.url }}" />

    <link rel="canonical" href="{{ site.url }}" />
    <link ref="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml" title="{{ metadata.title }}" />
    <link ref="alternate" type="application/json" href="{{ site.url }}/feed.json" title="{{ metadata.title }}" />

    <link rel="stylesheet" href="{% asset_path css %}" />

    <script src="{% asset_path js %}" defer></script>
    {% live_reload_dev_js %}
