<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= "#{item[:title]} - " if item[:title] %>CaiusTheory</title>

    <link rel="alternate" type="application/rss+xml" title="Caius Theory" href="/feed/" />

    <link rel="stylesheet" href="<%= @items["/stylesheet/"].path %>" type="text/css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <header>
      <h1><%= link_to "Caius Theory", "/" %></h1>
      <h2>Now with even more cowbell&hellip;</h2>
    </header>

    <main>
      <%= yield %>
    </main>

    <nav>
      <!--TODO: search field? -->
      <div class="archives">
        <h3>Archives</h3>
        <ul>
          <% archive_months.each do |archive| %>
            <li><%= link_to archive.name, archive.path %></li>
          <% end %>
        </ul>
      </div>
      <div class="feed">
        <%= link_to "Syndicate (atom)", items["/feed/"].path %>
      </div>
    </nav>

    <span class="clear"></span>

    <footer>
      <p class="first">
        <%= link_to "CaiusTheory", "/" %>
      </p>
      <p class="last">
        Inspired by <%= link_to "sp", "http://labs.utopian.net/habari/theme/sp/" %>
      </p>
      <span class="clear"></span>
    </footer>
  </body>
</html>
