<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- <link rel="icon" href="/favicon.ico"> -->
    <link rel="alternate" type="application/rss+xml" title="Caius Theory" href="/feed/" />

    <title><%= "#{item[:title]} - " if item[:title] %>CaiusTheory</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css" media="screen">
      body > div > header {
        border-bottom: 1px solid #000;
      }

      body > div > header h2 {
        color: #888;
        font-size: 1.5em;
        margin-top: 1.5em;
      }

      article header {
        margin-bottom: 1.5em;
      }

      article header time {
        font-size: 1.3em;
        color: #888;
      }

      article footer {
        border-top: 1px dashed #ccc;
        margin-top: 2em;
        padding-top: 0.5em;
        margin-bottom: 2em;
      }

      main nav li.previous:before {
        padding-right: 0.3em;
        content: "\2190";
      }

      main nav li.next:after {
        padding-left: 0.3em;
        content: "\2192";
      }

      .container > footer {
        clear: both;
        border-top: 1px solid #000;
        padding-top: 0.5em;
      }

    </style>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>
    <header>
      <h1><%= link_to "Caius Theory", "/" %></h1>
      <h2>Now with even more cowbell&hellip;</h2>
    </header>

    <main>
      <%= yield %>
    </main>

    <span class="clear"></span>

    <footer>
      <p class="first">
        <%= link_to "CaiusTheory", "/" %>
      </p>
      <p class="last">
        Inspired by <%= link_to "sp", "http://labs.utopian.net/habari/theme/sp/" %>
      </p>
      <span class="clear"></span>
    </footer>
  </body>
</html>
