      <article>
        <header>
          <h1><%= @post_title || item[:title] %></h1>
          <time datetime="<%= display_isotime(item[:created_at]) %>"><%= display_time(item[:created_at]) %></time>
        </header>

        <%= block_given? ? yield : item.compiled_content %>

        <footer>
          <p class="tags">
            <strong>Tags:</strong> <%= tag_sentence_for(item) %>
          </p>
        </footer>
      </article>

<% if item[:surrounding_posts] %>
      <nav>
        <ul>
          <% if (prev_post_id = item[:surrounding_posts][:before]) %>
            <% prev_post = articles[prev_post_id] %>
            <li class="previous"><%= link_to(prev_post[:title], prev_post.path) %></li>
          <% end %>

          <% if (next_post_id = item[:surrounding_posts][:after]) %>
            <% next_post = articles[next_post_id] %>
            <li class="next"><%= link_to(next_post[:title], next_post.path) %></li>
          <% end %>
        </ul>

        <span class="clear"></span>
      </nav>
<% end %>
