<article>
  <header>
    <h1><%= if current_resource.is_a?(Middleman::Blog::BlogArticle)
      current_article.title
    else
      link_to current_article.title, current_article
    end %></h1>
    <time datetime="<%= current_article.date.utc.iso8601.sub("Z", "+00:00") %>"><%= current_article.date.utc.strftime("%Y-%m-%d %H:%M:%S") %></time>
  </header>

  <%= current_article.body %>

  <footer>
    <p class="tags">
      <strong>Tags:</strong> <%= tag_sentence_for(current_article) %>
    </p>

    <p class="license">
      This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
    </p>
  </footer>
</article>
